/**
 * Index sections
 */

@use '/styles/palette';

.card-body {
  min-height: 100vh;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:nth-of-type(2n + 1) {
    color: palette.$card1-text-color;
    background-color: palette.$card1-background-color;

    a {
      font-weight: normal;
      color: darken(palette.$card1-text-color, 30%);

      &:hover {
        color: darken(palette.$card1-text-color, 15%);
      }
    }
  }

  &:nth-of-type(2n) {
    color: palette.$card2-text-color;
    background-color: palette.$card2-background-color;

    a {
      font-weight: normal;
      color: darken(palette.$card2-background-color, 40%);

      &:hover {
        color: darken(palette.$card2-background-color, 60%);
      }
    }
  }

  @media (min-width: 1200px) {
    display: inline-flex;
    vertical-align: top;
    min-height: initial;
    height: 38em;
    width: 33em;
    margin: 1em;
    padding: 2em;
  }
}
