.index-section-list {
  list-style-type: none;
  padding-left: 0;
  max-width: 30em;
  margin: 0.5em 0;

  > li {
    margin: 0.5em;
    border-radius: 0.5em;
    border: 1px solid;
    padding: 0.4em 1em;
    display: inline-block;

    > svg {
      width: 1.8em !important; // Override width specified by font-awesome
    }
  }
}
