/**
 * Color variables
 */

// Page background
$background-color: #181d32;
$background-text-color: #ced5f2;

// Card style 1
$card1-background-color: #2e375f;
$card1-text-color: #ced5f2;

// Card style 2
$card2-background-color: #f1e0b5;
$card2-text-color: #66562e;

